.App {
  width: 100vw;
  height: 100vh;
  color: rgb(255, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App .counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 3px;
  background-color: rgb(6, 155, 165);
  margin: 30px;
}

.App .counter h1 {
  font-size: 85px;
  background: transparent;
}

.App .counter_btn {
  display: flex;
  gap: 25px;
  height: 100px;
  width: 400px;
  /* border: 2px solid green; */
  justify-content: space-around;
  align-items: center;
}

.App .counter_btn button {
  height: 50px;
  width: 100px;
  background-color: yellow;
}

.container_card {
  display: flex;
  /* flex-wrap: wrap; */
  background: rgb(153, 148, 146);
  padding: 30px;
  width: 100vw;
}

.container_card div {
  width: 300px;
  height: auto;
  border-radius: 20px;
  background-color: cyan;
}

.cards_container {
  position: absolute;
  margin-top: 50px;
}
